@model Project_1_IS_403.Models.Mission

@{
    ViewBag.Title = "Mission FAQ";
}
<body onload="hideReplyForm()">
    <nav onclass="breadcrumb">
        @Html.ActionLink("Missions", "Missions", "Mission", null, new { @ckass = "breadcrumb-item" })
        <span class="breadcrumb-item active">@Model.missName</span>
    </nav>

    <div class="row">
        <div class="col-md-8 col-centered">
            <h1 class="text-center">Frequently Asked Questions</h1>

            <h4 class="text-center">@Model.missName</h4>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-8 col-centered">
            <p>Mission President: @Model.missPresident </p>
            <p>Mission Home Address: @Model.missAddress</p>
            <p>Language: @Model.missLanguage</p>
            <p>Climate: @Model.missClimate</p>
            <p>Dominant Religion: @Model.missDominantReligion</p>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-4 col-centered">
            <img src=@Url.Content(Model.missionImg) class="img-rounded missionSymbolImg" />
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-8 col-centered">
            <p><strong>What should I bring with me?</strong></p>
            <p>
                A complete list of necessary items is provided with the mission call packet. Your will be able to contact
                your parents if you find that you need anything during the course of the mission. Your parents will be
                able to send any needed items to you, or you can purchase such items in your mission.
            </p>
            <div>
                <button class="btn btn-primary" onclick="myReplyField()">Respond To Question</button>

                <form>
                    <textarea class=" form-control responseArea">Type Your Response</textarea>
                </form>
                @using (@Html.BeginForm())
                {
                    @Html.TextArea("Type Your Response", "", new { id= "heeyy", @class = "form-control responseArea", placeholder = "Type Your Response", required = true }) 
                    <button class="btn btn-md btn-primary submitBtn2 responseArea" type="submit">Submit</button>
                }
            </div>

            <p><strong>What is a typical day like?</strong></p>
            <p>
                A missionary's day is filled with activities that help accomplish the missionary purpose of bringing
                souls to Christ. Read the <i>Missionary Daily Schedule</i> to see the activities in a typical day, and
                study the lessons in chapter 3 of <i>Preach My Gospel</i> to find what missionaries teach. One way to
                understand day-to-day missionary activities is to watch <i>The District</i>. These video segments show
                real missionaries, members, and investigators in non-scripted, unrehearsed, actual missionary situations.
            </p>

            <p><strong>How can I best prepare for this mission?</strong></p>
            <p>
                Work on strengthening your own understanding and testimony of the gospel by praying daily and studying the
                scriptures, especially the Book of Mormon. Attend your Church meetings. Participate in seminary or institute,
                if available. You may share the gospel with a friend, go to teaching appointments with the full-time
                missionaries, or ask recently returned missionaries about their experiences in the mission field. You may
                also become familiar with Preach My Gospel, especially chapters 1 and 3. For additional counsel on your
                preparation, see a recent interview with Brother David L. Beck, Young Men general president.
            </p>

            <p><strong>What will I be doing?</strong></p>
            <p>
                A missionary's day is filled with activities that help accomplish the missionary purpose of bringing souls
                to Christ. Read the <i>Missionary Daily Schedule</i> to see the activities in a typical day, and study the
                lessons in chapter 3 of Preach My Gospel to find what missionaries teach. One way to understand day-to-day
                missionary activities is to watch <i>The District</i>. These video segments show real missionaries, members,
                and investigators in non-scripted, unrehearsed, actual missionary situations.
            </p>
        </div>
    </div>

    <div class="row top-buffer bottom-buffer">
        <div class="col-md-6 col-centered">
            <h3 class="text-center">Ask a Question</h3>
            @using (Html.BeginForm())
            {
                <p>
                    @Html.Label("Name:", new { @class = "sr - only" })
                    @Html.TextBox("Name", "", new { id = "qName", @class = "form-control", placeholder = "Your Name", required = true })
                </p>
                <p>
                    @Html.Label("Question:", new { @class = "sr - only" })
                    @Html.TextArea("Question", "", new { id = "qQuestion", @class = "form-control", placeholder = "Your Question", required = true })
                </p>
                <p>
                    <button class="btn btn-md btn-primary submitBtn2" type="submit">Submit</button>
                </p>

            }
        </div>
    </div>
</body>

<script>
    function myReplyField()
    {

    }

    function hideReplyForm()
    {
        Document.GetElementByClass("responseArea").hide();
        Document.GetElementByID("heeyy").style.display = "none";
    }
</script>