@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TNRB<br />
    Brigham Young University<br />
    Provo, UT 84602-3113<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="IS403@example.com">IS403@example.com</a><br />
</address>

@using (Html.BeginForm("Sign_in", "Home", FormMethod.Post, new { @class = "form-signin" }))
{
    <h2 class="form-signin-heading">Contact Us</h2>
    <label for="inputEmail" class="sr-only">Email Address</label>
    @Html.TextBox("User Name", "", new { type = "userName", id = "inputUserName", @class = "form-control", placeholder = "User Name", required = true, autofocus = true })
    <br />
    <label for="inputEmail" class="sr-only">Email Address</label>
    @Html.TextBox("Email Address", "", new { type = "email", id = "inputEmail", @class = "form-control", placeholder = "Email Address", required = true })
    <br />
    <label for="inputPassword" class="sr-only">Password</label>
    @Html.Password("Password", "", new { type = "password", id = "inputPassword", @class = "form-control", placeholder = "Password", required = true })
    <br />




    @*@using (Html.BeginForm("CategoryChosen", "Home", FormMethod.Get))*@
    //{
    <fieldset>
        <h5>
            US States
            @Html.DropDownList("StateNames")
        </h5>
    </fieldset>
    <br />
    //}




    <label for="inputContent" class="sr-only">How can we help you?</label>
    @Html.TextArea("first", "", new { type = "password", id = "inputContent", @class = "form-control", placeholder = "How can we help you?", required = true })
    <br />
    <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
}